$ship-body-color: #bebebe;
$ship-border-color: #7c7c7c;
$text-color: #e2e2e2;

body {
    background-color: $text-color;
    margin: 0;
    padding: 0;
    background-image: url("/src/image/battle-1920x1080.jpg");
}

.title-home {
    color: #efefef;
    font-size: 90px;
    margin-top: 100px;
}

.title {
    color: #efefef;
}

.title-bot {
    margin-left: 136px !important;
}

.title-player {
    margin-right: 16px !important;
}

.playe-board__head {
    margin-top: -58px !important;
    margin-bottom: 10px !important;
}

.button {
    margin-bottom: 30px !important;
}

.button-random {
    margin-top: 68px !important;
}

.button-play {
    margin-bottom: 10px !important;
    background-color: #49b53f !important;
}

.button-back {
    background-color: #6d6d6d !important;
}

.board {
    background-color: #1d1d1d;
    border: 1px solid #afbaff;
    height: 410px;
    margin-left: 44px !important;
    position: relative;
    width: 410px;
}

.board-area {
    margin-top: 20px !important;
}

.ship-cell {
    border-bottom: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
    display: inline-block;
    height: 40px;
    margin-bottom: -4px;
    width: 40px;
}

.ship-cell__success {
    background-color: #a52a2a !important;
    border-bottom: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
    display: inline-block;
    height: 40px;
    margin-bottom: -4px;
    width: 40px;
}

.ship-cell__failed {
    background-color: #676767;
    border-bottom: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
    display: inline-block;
    height: 40px;
    margin-bottom: -4px;
    width: 40px;
}

.ship-bot-cell {
    height: 40px;
    width: 40px;
}

.ship-4 {
    background-color: #52008a !important;
    border-bottom: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
    display: inline-block;
    height: 40px;
    margin-bottom: -4px;
    width: 40px;
}
.ship-3 {
    background-color: #008a7a !important;
    border-bottom: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
    display: inline-block;
    height: 40px;
    margin-bottom: -4px;
    width: 40px;
}
.ship-2 {
    background-color: #00538a !important;
    border-bottom: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
    display: inline-block;
    height: 40px;
    margin-bottom: -4px;
    width: 40px;
}
.ship-1 {
    background-color: #7f008a !important;
    border-bottom: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
    display: inline-block;
    height: 40px;
    margin-bottom: -4px;
    width: 40px;
}

.numbers-position {
    margin-top: -39px;
}
.letter-position {
    margin-top: 10px;
    margin-left: -34px;
    position: absolute;
    top: 0;;
}

.number-cell {
    color: $text-color;
    display: inline-block;
    font-weight: bold;
    height: 39px;
    text-align: center;
    width: 41px;
}

.letter-cell {
    color: $text-color;
    font-weight: bold;
    height: 41px;
    text-align: center;
}

.ship-section {
    background-color: #EEEEEE;
    height: 400px;
    margin-top: 28px;
    width: 484px;
}

.ship-board {
    width: 484px;
    height: 400px;
    background-color: #EEEEEE;
}

.ship-color {
    background-color: #b7b7b7;
}

.ship-bot-color {
    background-color: #b7b7b7;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


.ship-section--space {
    margin: 20px 0 !important;
}

.ship-section--space-section {
    margin-right: 20px !important;
}

.header-title {
    margin: 60px 0 !important;
}

.header-title__turns {
    font-size: 24px !important;
    margin-top: -46px !important;
    margin-bottom: -32px !important;
}

.header-title__reset {
    margin-top: -46px !important;
    margin-bottom: -32px !important;
}

.ship-four {
    height: 40px;
    width: 160px;
    background-color: $ship-body-color;
    border: 1px solid $ship-border-color;
}
.ship-three {
    height: 40px;
    width: 120px;
    background-color: $ship-body-color;
    border: 1px solid $ship-border-color;
}

.ship-two {
    height: 40px;
    width: 80px;
    background-color: $ship-body-color;
    border: 1px solid $ship-border-color;
}

.ship-one {
    height: 40px;
    width: 40px;
    background-color: $ship-body-color;
    border: 1px solid $ship-border-color;
}

.ship-stylies {
    margin-top: 40px !important;
    margin-left: 100px !important;

}

.ship-styiles__title {
    color: $text-color;
    margin-top: 10px;
    margin-left: 18px;
}

.title {
    color: $text-color !important;
}

.label-title {
    color: #c1c1c1  !important;
}

.difficulty-label {
    color: $text-color !important;
}

.MuiFilledInput-underline:before {
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    content: "\00a0" !important;
    position: absolute !important;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
    border-bottom: 1px solid #a0a0a0 !important;
    pointer-events: none !important;
}

.label-section {
    margin-top: 40px !important;
}

.letter-row {
    color: $text-color;
    margin-bottom: 10px !important;
    margin-left: 38px !important;
    margin-right: 90px !important;
}

.ship-cell__selected {
    border-bottom: 1px solid #7c7c7c;
    border-right: 1px solid #7c7c7c;
    background-color: rgb(0, 255, 255);
    height: 40px;
    width: 40px;
}
